.gif-container {
    display: flex;
    justify-content: center;
  }
  
  .gif-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .gif-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    max-width: 300px;
    background-color: #330A0A;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 10px;
    color: black;
    margin: 10px; /* Add margin for spacing between cards */
  }
  
  .gif-item img {
    max-width: 100%;
    height: auto;
  }
  
  select, button {
    width: 100px; /* Make the select and button full width */
    padding: 10px; /* Increase padding for size */
    background-color: #330A0A; 
    color: white;/* Same background color as your button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1px;
    transition: background-color 0.3s ease;
  }
  
  select:hover, button:hover {
    background-color: #965A5A;
  }

  .categoryForm {
    color: #965A5A;
  }
  
  .category-container {
    display: flex;
    align-items: center; /* Center items vertically */
    margin-top: 1px; /* Adjust margin for spacing */
  }
  
  .category-container h5 {
    margin-right: 10px; /* Add space between "category:" and category name */
    font-size: 20px;
  }