.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #033076;
    min-height: 70px;
    padding: 20px;
    color: white;
    margin-bottom: 20px;
  }
  
  .App-title {
    font-size: 2em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  h1 {
    font-style: italic;
  }

  .button-div {
    display: flex;
    justify-content: center;
  }

  .nav-button {
    padding-right: 10px; 
    margin-right: 20px;
  }
  