.App {
    text-align: center;
  }
  
  .App-header {

    min-height: 70px;
    padding: 20px;
    color: white;
    margin-bottom: 20px;
  }
  
  .App-title {
    font-size: 2em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  h1 {
    font-style: italic;
  }

  .button-div {
    display: flex;
    justify-content: center;
  }

  .nav-button {
    width: 20%;
    padding: 10px;
    background-color: #FCCACA; /* Use the same background color as the search button */
    border: none;
    border-radius: 5px;
    color: #000000; /* Use the same text color as the search button */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px; /* Add some margin for spacing between buttons */
  }
  
  .nav-button:hover {
    background-color: #965A5A; /* Use the same hover background color as the search button */
  }
  